{% extends "_layout.html" %}
{% block titulek %}Administrace – Rozpis služeb{% endblock %}
{% block obsah %}
{% include "_hlavicka.html" %}
<main>
  <ul class="admin-menu">
    <li><a href="/admin/zamestnanci">Zaměstnanci</a></li>
    <li><a href="/admin/nedostupnosti">Nedostupnosti</a></li>
    <li><a href="/admin/nastaveni">Nastavení</a></li>
  </ul>
  <p>Generování rozpisu (tlačítko "Vygenerovat rozpis") je na stránce
     <a href="/rozpis">Rozpis</a>. Přepis pro ruční zápis do Cygnusu je na
     stránce <a href="/rozpis/prepis">Přepis</a>.</p>
</main>
{% endblock %}
