{% extends "_layout.html" %}
{% block titulek %}Rozpis {{ '%02d'|format(mrizka.mesic) }}/{{ mrizka.rok }} – Rozpis služeb{% endblock %}
{% block obsah %}
{% include "_hlavicka.html" %}
<main>
  <div class="mesic-nav">
    {% if je_admin %}
      <a href="/rozpis?mesic={{ predchozi_mesic }}">&larr; předchozí</a>
    {% else %}
      <span></span>
    {% endif %}
    <h1>{{ '%02d'|format(mrizka.mesic) }}/{{ mrizka.rok }}</h1>
    {% if je_admin %}
      <a href="/rozpis?mesic={{ dalsi_mesic }}">další &rarr;</a>
    {% endif %}
  </div>

  <div class="mrizka-obal">
    <table class="mrizka">
      <thead>
        <tr>
          <th class="sloupec-jmeno">Jméno</th>
          {% for den in mrizka.dny %}
            <th class="{% if mrizka.vikendy[loop.index0] %}vikend{% endif %}">
              {{ den }}<br><span class="den-tydne">{{ mrizka.dny_tydne[loop.index0] }}</span>
            </th>
          {% endfor %}
          <th class="sloupec-souhrn">D</th>
          <th class="sloupec-souhrn">N</th>
          <th class="sloupec-souhrn">Vík.</th>
        </tr>
      </thead>
      <tbody>
        {% for radek in mrizka.radky %}
          <tr>
            <td class="sloupec-jmeno">{{ radek.jmeno }}</td>
            {% for bunka in radek.bunky -%}
              <td class="bunka{% if mrizka.vikendy[loop.index0] %} vikend{% endif %}{% if bunka.trida %} {{ bunka.trida }}{% endif %}"{% if bunka.poznamka %} title="{{ bunka.poznamka }}"{% elif bunka.nazev_nedostupnosti %} title="{{ bunka.nazev_nedostupnosti }}"{% endif %}>{{ bunka.text }}</td>
            {% endfor -%}
            <td class="souhrn">{{ radek.pocet_d }}</td>
            <td class="souhrn">{{ radek.pocet_n }}</td>
            <td class="souhrn">{{ radek.pocet_vikendu }}</td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr class="radek-obsazeni">
          <td class="sloupec-jmeno">Obsazení</td>
          {% for obsazeni_dne in mrizka.obsazeni -%}
            <td class="{% if mrizka.vikendy[loop.index0] %}vikend{% endif %}{% if mrizka.krizove_dny[loop.index0] %} krizovy{% endif %}">{{ obsazeni_dne[0] }}D<br>{{ obsazeni_dne[1] }}N</td>
          {% endfor -%}
          <td class="sloupec-souhrn"></td>
          <td class="sloupec-souhrn"></td>
          <td class="sloupec-souhrn"></td>
        </tr>
      </tfoot>
    </table>
  </div>

  <p class="legenda">
    <span class="stitek smena-d">D</span> denní
    <span class="stitek smena-n">N</span> noční
    <span class="stitek nedostupnost-dov">DOV</span> dovolená
    <span class="stitek nedostupnost-nem">nem</span> nemoc
    <span class="stitek nedostupnost-jina">ost/poz</span> ostatní nedostupnost
    <span class="stitek vikend">víkend</span>
  </p>
</main>
{% endblock %}
